<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!--<add name="MainConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AcSys.ShiftManager.mdf;Initial Catalog=AcSys.ShiftManager;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="MainConnection" connectionString="Data Source=.;Initial Catalog=AcSys.ShiftManager;Integrated Security=True;Connect Timeout=15;Encrypt=False;Packet Size=4096;MultipleActiveResultsets=True;" providerName="System.Data.SqlClient" />-->
    <add name="MainConnection" connectionString="Data Source=.;Initial Catalog=AcSys.ShiftManager;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="MainConnection" connectionString="Data Source=188.121.44.214;Integrated Security=False;Initial Catalog=AcSysShiftMgr;User ID=AcSysShiftMgr;Password=Fumm3@00;Connect Timeout=15;Encrypt=False;Packet Size=4096;" providerName="System.Data.SqlClient" />-->
    <!--<add name="MainConnection" connectionString="Data Source=109.228.56.183;Initial Catalog=AcSys.ShiftManager;Integrated Security=False;User ID=sa;Password=Xk6hsw5w9o;Connect Timeout=15;Encrypt=False;Packet Size=4096;MultipleActiveResultsets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="MainConnection" connectionString="Data Source=137.116.215.83,4433;Initial Catalog=AcSys.ShiftManager;Integrated Security=False;User ID=sa;Password=@ctive_5Q|3xpr3ss;Connect Timeout=15;Encrypt=False;Packet Size=4096;MultipleActiveResultsets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="test" value="test value" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
