<!-- begin row -->
<div class="row">

    <!-- begin col-12 -->
    <div class="col-md-12">

        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger dis" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                </div>
                <h4 class="panel-title">{{currentPage.title}}</h4>
            </div>

            <div class="panel-body">

                <div class="row">
                    <a href="javascript:;" ui-sref="app.shifts.create" class="btn btn-success m-r-5 m-b-5" 
                       ng-show="User.hasAnyRole('SuperAdmin, Admin, RecManager, HRManager')">
                        <i class="fa fa-plus"></i> New
                    </a>

                    <!--<button type="button" ng-click="test()" class="btn btn-success m-r-5 m-b-5">
                        <i class="fa fa-plus"></i> Test
                    </button>-->

                    <label class="pull-right" ng-hide="User.hasAnyRole('Employee')">
                        Employee Group
                        <!--<select ng-model="selectedEmployeeGroupId" name="employeeGroup" class="form-control"
                                ng-options="employeeGroup as employeeGroup.name for employeeGroup in employeeGroups track by employeeGroup.id"
                                ng-change="fetch()">
                            <option value="" ng-selected="selected">All</option>
                        </select>-->
                        <select ng-model="selectedEmployeeGroupId" name="employeeGroup" class="form-control"
                                ng-change="fetch()">
                            <option value="" ng-selected="">All Employees</option>
                            <option value="none">Not Grouped</option>
                            <option ng-repeat="employeeGroup in employeeGroups" value="{{employeeGroup.id}}">{{employeeGroup.name}}</option>
                        </select>
                    </label>

                    <label class="pull-right">
                        Open Shifts
                        <br />
                        <switch id="showOpenShifts" name="showOpenShifts" ng-model="query.includeOpenShifts" ng-change="fetch()" disabled="false" class="green"></switch>
                    </label>
                </div>

                <br />

                <div class="row">

                    <!--<div class="col col-sm-3"></div>
                    <div class="col col-sm-9"></div>-->

                    <!--<div ui-calendar="uiConfig.calendar" ng-model="eventsSources" calendar="shifts"></div>-->
                    <!--<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="shiftsCalendar" class="calendar"></div>-->
                    <div id="calendar" calendar="shiftsCalendar" class="calendar"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
